*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    background-color: white;
    overflow: hidden;
    font-weight: bold;
    text-align: center;
}

li{
    float: left;
    /* padding: 0px 16px; */
}

.search{
    float:right;
    margin-top: 8px;
}

.search input{
    padding: 6px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    background-color: #ffffff;
    color: black;
}

.search i{
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    color: black;
    background-color: white;
    cursor: pointer;
}

.search i:hover{
    background-color: black;
    color: white;
    transition: 0.3s;
}

li a{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 30px;
}

li a:hover, .drop:hover .dropbtn{
    background-color: black;
    color: white;
    transition: 0.5s;
}

li .drop{
    display: inline-block;
}

.drop-content{
    display: none;
    position: absolute;
    margin-top: 3px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px ;
    z-index: 1;
    border-radius: 5px;
}

.drop-content a{
    color: black;
    padding: 12px 16px;
    display: block;
    text-align: left;
}

.drop-content a:hover{
    background-color: black;
    border-radius: 5px;
    transition: 0.4s;

}

.drop:hover .drop-content{
    display: block;
    transition: 0.4s;
}

.demo{
    background-color: #73AD21;
}

.right {
    float: right;
    width: 10%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: left;
}

.left {
    float: left;
    width: 10%;
    border: 3px solid #73AD21;
    padding: 10px;
    text-align: center;
}

.center {
    margin: auto;
    width: 76%;
    border: 3px solid green;
    padding: 10px;
    text-align: center;
}
  
.header{
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
}

.mt{
    margin-top: 20px;
}

.boder{
    border: 1px solid black;
    height: 300px;
}

.menu{
    width: 76%;
    justify-content: space-between;
}

.outstanding-product{
    margin-top: 20px;
    margin-bottom: 20px;
}